<nav class="navbar">
    <ul>
        <li><a href="/admin/home">HOME</a></li>
		@if (IsSuperAdmin)
		{
            <li><a href="/admin/admins-dashboard">ADMINS</a></li>
		}
        <li><a href="/admin/drivers-dashboard">DRIVERS</a></li>
        <li><a href="/admin/categories-dashboard">CATEGORIES</a></li>
        <li><a href="/admin/auctions-dashboard">AUCTIONS</a></li>
    </ul>
</nav>