<nav>
    <ul class="navbar">
        <li>
            <NavLink href="/" class="nav-link" activeClass="active">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="/categories" class="nav-link" activeClass="active">
                Categories
            </NavLink>
        </li>
        <li>
            <NavLink href="/admins" class="nav-link" activeClass="active">
                Admins
            </NavLink>
        </li>
        <li>
            <NavLink href="/drivers" class="nav-link" activeClass="active">
                Drivers
            </NavLink>
        </li>
        <li>
            <NavLink href="/auctions" class="nav-link" activeClass="active">
                Auctions
            </NavLink>
        </li>
    </ul>
</nav>