<nav class="navbar">
    <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">CATEGORIES</a></li>
        <li><a href="#">ADMINS</a></li>
        <li><a href="#">DRIVERS</a></li>
        <li><a href="#">AUCTIONS</a></li>
    </ul>
</nav>