<nav class="navbar">
    <ul>
        <li><a href="/admin-dashboard/home">HOME</a></li>
        <li><a href="/admin-dashboard/categories">CATEGORIES</a></li>
        <li><a href="/admin-dashboard/admins">ADMINS</a></li>
        <li><a href="/admin-dashboard/drivers">DRIVERS</a></li>
        <li><a href="/admin-dashboard/auctions">AUCTIONS</a></li>
    </ul>
</nav>