@using AuctionWebApp.ViewModels 

<div class="categories-slider-container">
    <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft" OnClick="ScrollLeft" Class="scroll-arrow" Disabled="@disableLeftScroll" Size="Size.Medium" />

    <div @ref="scrollableDiv" class="categories-scroll-area" @onscroll="HandleScrollAsync">
        @if (CategoryViewModels != null)
        {
            @foreach (var category in CategoryViewModels)
            {
                <div class="category-item-wrapper">
                    <CategoryFilterOption Category="category" />
                </div>
            }
        }
    </div>

    <MudIconButton Icon="@Icons.Material.Filled.ChevronRight" OnClick="ScrollRight" Class="scroll-arrow" Disabled="@disableRightScroll" Size="Size.Medium" />
</div>