<div class="category-card">
    @if (Category.ImageUrl == null)
    {
        <div class="category-image placeholder-image">
            <span>No Image</span>
        </div>
    }
    else
    {
        <img src="@($"{AppSettings.ApiUrl}{Category.ImageUrl}")" class="category-image" alt="@Category.Name" />
    }
    <div class="category-name">@Category.Name</div>
</div>