<div class="text-center mt-10">
    <h1 class="text-danger mb-10">Error while loading data</h1>
    <p class="mb-10">Oops! Something went wrong while loading the data. Please try again later.</p>

    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="GoHome" Class="m-2">
        Go to Home
    </MudButton>
</div>