@using AuctionWebApp.ViewModels

<div class="login-card">
	<h1 class="login-card__title">@Title</h1>

	<EditForm EditContext="editContext"
			  OnValidSubmit="HandleValidSubmit"
			  OnInvalidSubmit="HandleInvalidSubmit"
			  class="login-card__form">
		<DataAnnotationsValidator />

		@if (showSummary)
		{
			<div class="login-card__summary">
				<ValidationSummary />
			</div>
		}

		@if (LoginErrorMessages.Count != 0)
		{
			<div class="login-card__summary">
				<ul class="login-errors">
					@foreach (var err in LoginErrorMessages)
					{
						<li>@err</li>
					}
				</ul>
			</div>
		}

		<div class="login-card__group">
			<input id="emailInput"
				   @bind="Model.Email"
				   class="login-card__input"
				   placeholder="Email address" />
		</div>

		<div class="login-card__group">
			<input id="passwordInput"
				   type="@(ShowPassword ? "text" : "password")"
				   @bind="Model.Password"
				   class="login-card__input"
				   placeholder="Password" />
		</div>

		<div class="login-card__toggle">
			<InputCheckbox id="showPasswordCheck"
						   @bind-Value="ShowPassword"
						   class="login-card__checkbox" />
			<label for="showPasswordCheck"
				   class="login-card__checkbox-label">
				Show password
			</label>
		</div>

		<button type="submit" class="login-card__submit">
			Login
		</button>

		@if (!string.IsNullOrEmpty(ForgotPasswordUrl))
		{
			<MudText Class="mt-10 text-center">
				<span style="color: #1976d2; cursor: pointer;"
					  @onclick="OnPasswordForgotClicked">
					Forgot your password?.
				</span>
			</MudText>
		}

		@if (!string.IsNullOrEmpty(RegisterUrl))
		{
			<MudText Class="mt-5 text-center">
				<span style="color: #1976d2; cursor: pointer;"
					  @onclick="OnRegisterClicked">
					You don't have an account?
				</span>
			</MudText>
		}
	</EditForm>
</div>

