@using AuctionWebApp.ViewModels

<div class="login-card">
	<h1 class="login-card__title">@Title</h1>

    <EditForm EditContext="editContext"
              OnValidSubmit="HandleValidSubmit"
              OnInvalidSubmit="HandleInvalidSubmit"
              class="login-card__form">
        <DataAnnotationsValidator />

        @if (showSummary)
        {
            <div class="login-card__summary">
                <ValidationSummary/>
            </div>
        }

        @if(LoginErrorMessages.Count != 0)
        {
            <div class="login-card__summary">
                <ul class="login-errors">
                    @foreach (var err in LoginErrorMessages)
                    {
                        <li>@err</li>
                    }
                </ul>
            </div>
        }

        <div class="login-card__group">
            <input id="emailInput"
                   @bind="Model.Email"
                   class="login-card__input"
                   placeholder="Email address" />
        </div>

        <div class="login-card__group">
            <input id="passwordInput"
                   type="@(ShowPassword ? "text" : "password")"
                   @bind="Model.Password"
                   class="login-card__input"
                   placeholder="Password" />
        </div>

        <div class="login-card__toggle">
            <InputCheckbox id="showPasswordCheck"
                           @bind-Value="ShowPassword"
                           class="login-card__checkbox" />
            <label for="showPasswordCheck"
                   class="login-card__checkbox-label">
                Show password
            </label>
        </div>

        <button type="submit" class="login-card__submit">
            Login
        </button>
    </EditForm>
</div>

