@using AuctionWebApp.ViewModels

<div class="login-card">
    <EditForm EditContext="_editContext"
              OnValidSubmit="HandleValidSubmit"
              OnInvalidSubmit="HandleInvalidSubmit"
              class="login-card__form">
        <DataAnnotationsValidator />

        @if (showSummary)
        {
            <ValidationSummary class="login-card__summary" />
        }

        <div class="login-card__group">
            <InputText id="emailInput"
                       @bind-Value="Model.Email"
                       class="login-card__input"
                       placeholder="Email address" />
        </div>

        <div class="login-card__group">
            <InputText id="passwordInput"
                       type="@(ShowPassword ? "text" : "password")"
                       @bind-Value="Model.Password"
                       class="login-card__input"
                       placeholder="Password" />
        </div>

        <div class="login-card__toggle">
            <InputCheckbox id="showPasswordCheck"
                           @bind-Value="ShowPassword"
                           class="login-card__checkbox" />
            <label for="showPasswordCheck"
                   class="login-card__checkbox-label">
                Show password
            </label>
        </div>

        <button type="submit" class="login-card__submit">
            Login
        </button>
    </EditForm>
</div>

