<div class="text-center mt-10">
    <h1 class="text-danger">Access Denied</h1>
    <p class="mt-4 mb-6">You are not authorized to view this page.</p>

    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="GoHome" Class="m-2">
        Go to Home
    </MudButton>
</div>