<nav class="vertical-menu">
    <ul>
        <li>
            <a href="/user/settings">User Settings</a>
        </li>
        <li>
            <a href="/seller/settings">Seller Account Settings</a>
        </li>
        <li>
            <a href="/customer/settings">Customer Account Settings</a>
        </li>
    </ul>
</nav>