<nav class="navbar">
    <ul>
        <li><a href="/user/home">HOME</a></li>
        <li><a href="/user/auctions">BROWSE AUCTIONS</a></li>
        <li><a href="/user/my-listings">MY LISTINGS</a></li>
        <li><a href="/user/my-bids">MY BIDS</a></li>
    </ul>
</nav>