<nav class="vertical-menu">
    <ul>
        <li>
            <a href="/user/settings">User Settings</a>
        </li>
        <li>
            <a href="user/seller-settings">Seller Settings</a>
        </li>
        <li>
            <a href="user/customer-settings">Customer Settings</a>
        </li>
    </ul>
</nav>