<nav class="navbar">
    <ul>
        <li><a href="/user/home">HOME</a></li>
        <li><a href="/user/auctions">Browse Auctions</a></li>
        <li><a href="/user/my-listings">My Listings</a></li>
        <li><a href="/user/my-bids">My Bids</a></li>
    </ul>
</nav>