@using AuctionWebApp.Components
@using AuctionWebApp.ViewModels
@using Microsoft.AspNetCore.Authorization

@namespace AuctionWebApp.Pages

@page "/admin/login"

<NavigationComponent Url="@ReturnUrl"></NavigationComponent>

<div class="login-wrapper">
    <LoginComponent Title="Login Admin"
                    Model="LoginModel"
                    OnValidSubmit="HandleAdminLogin" />
</div>