@using AuctionWebApp.Components
@using Microsoft.AspNetCore.Authorization

@namespace AuctionWebApp.Pages

@page "/admin/auctions-dashboard/{AuctionId:int}/assign-driver"
@attribute [Authorize(Roles = "Admin,SuperAdmin")]

@if (isLoading)
{
	<MudProgressCircular Color="Color.Primary"
						 Indeterminate="true"
						 Class="d-flex mx-auto mt-12" />
}
else
{
	@if(showErrorComponent)
	{
		<ErrorComponent></ErrorComponent>
	}
	else
	{
		<AdminNavigationBarComponent IsSuperAdmin="isSuperAdmin"></AdminNavigationBarComponent>

		<div class="mt-15">
			<AuctionDeliveryDetailsComponent Auction="@auction"></AuctionDeliveryDetailsComponent>

			<div class="mb-10 d-flex justify-center">
				<div class="auction-details card shadow p-4 mb-5 bg-white rounded" style="width: 100%; max-width: 1000px;">
					<MudText Typo="Typo.h5" Class="mb-10 text-center mx-auto">Current Driver</MudText>

					<MudSelect T="string"
							   Label="Assign Driver"
							   @bind-Value="selectedDriverEmail"
							   Dense="false"
							   Placeholder="Select a driver"
							   Class="mb-4"
							   Style="width: 100%;">
						@if (auction?.Driver?.Email == null)
						{
							<MudSelectItem Value="selectedDriverEmail">No Driver</MudSelectItem>
						}

						@foreach (var driver in drivers)
						{
							<MudSelectItem Value="@driver.Email">@driver.Email</MudSelectItem>
						}
					</MudSelect>

					<MudButton OnClick="AssignDriver"
							   Variant="Variant.Filled"
							   Color="Color.Primary"
							   Class="mt-2"
							   Style="width: 100%; font-size: 1.1rem; padding: 12px;">
						Submit
					</MudButton>
				</div>
			</div>
		</div>
	}
}

