@using AuctionWebApp.Components
@using AuctionWebApp.Enums
@using Microsoft.AspNetCore.Authorization

@namespace AuctionWebApp.Pages

@page "/user/auctions"
@attribute [Authorize(Roles = "User")]

@if (isLoading)
{
	<MudProgressCircular Color="Color.Primary"
						 Indeterminate="true"
						 Class="d-flex mx-auto mt-12" />
}
else
{
	@if (showErrorComponent)
	{
		<ErrorComponent></ErrorComponent>
	}
	else
	{
		<UserNavigationBarComponent></UserNavigationBarComponent>

		<CategorySlider CategoryViewModels="categoryViewModels" OnCategorySelected="HandleCategorySelectedAsync"></CategorySlider>

		<div class="auction-list">
			@foreach (var auction in previewAuctionViewModels)
			{
				<PreviewAuctionCardComponent Auction="auction" NavigationUrl="@($"user/auctions/{auction.Id}/bid")" />
			}
		</div>
	}
}