@using AuctionWebApp.Enums
@using AuctionWebApp.Helpers
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using AuctionWebApp.Components

@namespace AuctionWebApp.Pages

@page "/user/customer-settings"
@attribute [Authorize(Roles = "User")]

@if (isLoading)
{
	<MudProgressCircular Color="Color.Primary"
						 Indeterminate="true"
						 Class="d-flex mx-auto mt-12" />
}
else
{

	<UserNavigationBarComponent />

	<div class="settings-flex">
		<UserSettingsMenuComponent />

		<div class="content-column">
			<h1 class="text-center mt-15 mb-20">Customer Account Settings</h1>

			<MudTabs OnActivePanelIndexChanged="HandleTabChange" Style="max-width: 600px;">
				<MudTabPanel Text="Card Details">
					@if (paymentMethod == null)
					{
						<p class="mt-10">You don't have any payment method</p>
					}
					else
					{
						<div class="mt-10">
							<CardInformationComponent PaymentMethod="@paymentMethod" />
						</div>
					}
				</MudTabPanel>

				<MudTabPanel Text="@paymentMethodTabName">
					<div class="mt-10">
						<PaymentMethodComponent IsCreateMode="@isCreateMode" />
					</div>
				</MudTabPanel>
			</MudTabs>

		</div>
	</div>
}
