@using AuctionWebApp.Components

@namespace AuctionWebApp.Pages

@page "/user/reset-password"

<NavigationComponent Url="@ReturnUrl"></NavigationComponent>

<MudPaper Elevation="4"
		  Class="mx-auto d-flex flex-column gap-4 mt-20"
		  Style="max-width: 500px; padding: 50px">
	<MudText Typo="Typo.h5" Class="mb-6 text-center">Reset Your Password</MudText>

	@if (!string.IsNullOrEmpty(SuccessMessage))
	{
		<MudAlert Severity="Severity.Success">@SuccessMessage</MudAlert>
	}
	else
	{
		<EditForm Model="resetModel" OnValidSubmit="SubmitResetAsync">
			<DataAnnotationsValidator />

			<MudTextField @bind-Value="resetModel.NewPassword"
						  Label="New Password"
						  InputType="showPassword ? InputType.Text : InputType.Password"
						  For="@(() => resetModel.NewPassword)"
						  Required="true"
						  Immediate="true"
						  Variant="Variant.Filled"
						  Class="mb-3" />

			<div class="mb-4">
				<InputCheckbox id="showPasswordCheck"
							   @bind-Value="showPassword" />
				<label for="showPasswordCheck">
					Show password
				</label>
			</div>

			<MudButton Type="Button"
					   Variant="Variant.Filled"
					   Color="Color.Primary"
					   Disabled="@isSubmitting"
					   OnClick="SubmitResetAsync"
					   FullWidth="true"
					   Class="p-3">
				@if (isSubmitting)
				{
					<MudProgressCircular Indeterminate="true" Size="Size.Medium" Class="mr-2" Color="Color.Inherit" />
					<span>Resetting...</span>
				}
				else
				{
					<span>Reset Password</span>
				}
			</MudButton>
		</EditForm>
	}
</MudPaper>
