@namespace AuctionWebApp.Pages

@page "/user/reset-password"

<MudPaper Class="form-container" Elevation="4">
    <MudText Typo="Typo.h5" Class="mb-6 text-center">Reset Your Password</MudText>

    @if (!string.IsNullOrEmpty(SuccessMessage))
    {
        <MudAlert Severity="Severity.Success">@SuccessMessage</MudAlert>
    }
    else
    {
        <EditForm Model="resetModel" OnValidSubmit="SubmitResetAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <MudTextField @bind-Value="resetModel.NewPassword"
                          Label="New Password"
                          InputType="InputType.Password"
                          For="@(() => resetModel.NewPassword)"
                          Required="true"
                          Immediate="true"
                          Variant="Variant.Filled"
                          Class="mb-4" />

            <MudButton Type="Button"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Disabled="@isSubmitting"
                       OnClick="SubmitResetAsync"
                       FullWidth="true">
                @if (isSubmitting)
                {
                    <MudProgressCircular Indeterminate="true" Size="Size.Medium" Class="mr-2" Color="Color.Inherit" />
                    <span>Resetting...</span>
                }
                else
                {
                    <span>Reset Password</span>
                }
            </MudButton>
        </EditForm>
    }
</MudPaper>
