.settings-flex {
    display: flex;
    height: calc(100vh - 120px);
}

.content-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mud-paper-custom {
    background-color: #f9fafc;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
