@using AuctionWebApp.Enums
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using AuctionWebApp.Components

@namespace AuctionWebApp.Pages

@page "/user/home"
@attribute [Authorize(Roles = "User")]

<div class="page-container">
    <UserNavigationBarComponent />

    <div class="settings-flex">
        <div class="menu-column">
            <UserSettingsMenuComponent />
        </div>
        <div class="content-column">
            <h1 class="text-center mt-15 mb-20">Welcome to user dashboard</h1>
        </div>
    </div>
</div>
