@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using AuctionWebApp.Components

@namespace AuctionWebApp.Pages

@page "/driver/assigned-auctions"
@attribute [Authorize(Roles = "Driver")]

<DriverNavigationBarComponent></DriverNavigationBarComponent>
<h1 class="text-center mt-15 mb-20">Assigned Auctions</h1>

<div class="mb-10">
	<AuctionsTableComponent Filter="auctionsFilter"
							NavigateUrl="@navigateUrl"
							NavigationButtonName="@navigationButtonName">
	</AuctionsTableComponent>
</div>
