@using AuctionWebApp.Components
@using AuctionWebApp.Enums
@using Microsoft.AspNetCore.Authorization

@namespace AuctionWebApp.Pages

@page "/driver/assigned-auctions/{AuctionId:int}/complete"
@attribute [Authorize(Roles = "Driver")]

@if (isLoading)
{
	<MudProgressCircular Color="Color.Primary"
						 Indeterminate="true"
						 Class="d-flex mx-auto mt-12" />
}
else
{
	@if (!isAuthorized)
	{
		<UnauthorizedComponent></UnauthorizedComponent>
	}
	else if (showErrorComponent)
	{
		<ErrorComponent></ErrorComponent>
	}
	else
	{
		<DriverNavigationBarComponent></DriverNavigationBarComponent>

		<div class="mt-10">
			<AuctionDeliveryDetailsComponent Auction="@auction" />
		</div>

		<div class="d-flex justify-center mb-10">
			<MudButton OnClick="CompleteAuctionAsync"
					   Variant="Variant.Filled"
					   Color="Color.Primary"
					   Class="mt-2"
					   Style="width: 250px; font-size: 1.1rem; padding: 12px;">
				Complete
			</MudButton>
		</div>
	}
}

