@using AuctionWebApp.Components
@using AuctionWebApp.ViewModels
@using Microsoft.AspNetCore.Authorization

@namespace AuctionWebApp.Pages

@page "/driver/login"

<NavigationComponent Url="@ReturnUrl"></NavigationComponent>

<div class="login-wrapper">
    <LoginComponent Title="Login Driver"
                    Model="LoginModel"
                    OnValidSubmit="HandleDriverLogin" />
</div>