@using AuctionWebApp.Components
@using AuctionWebApp.ViewModels
@using Microsoft.AspNetCore.Authorization

@page "/admin-login"

<NavigationComponent Url="@ReturnUrl"></NavigationComponent>

<div class="login-wrapper">
    <LoginComponent Title="Login Admin"
                    Model="AdminModel"
                    OnValidSubmit="HandleAdminLogin" />
</div>