@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using AuctionWebApp.Components
@using AuctionWebApp.Enums

@page "/admin/home"
@attribute [Authorize(Roles = "Admin,SuperAdmin")]

@if (isLoading)
{
	<MudProgressCircular Color="Color.Primary"
						 Indeterminate="true"
						 Class="d-flex mx-auto mt-12" />
}
else
{
	<AdminNavigationBarComponent IsSuperAdmin="isSuperAdmin"></AdminNavigationBarComponent>
	<h1 class="text-center mt-15 mb-20">Welcome to admin dashboard</h1>
	<div class="d-flex justify-content-center mt-4">
		<LogoutComponent />
	</div>
}

