@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using AuctionWebApp.Components
@using AuctionWebApp.Enums

@page "/admin/admins-dashboard"
@attribute [Authorize(Roles = "SuperAdmin")]

@if (isLoading)
{
	<MudProgressCircular Color="Color.Primary"
						 Indeterminate="true"
						 Class="d-flex mx-auto mt-12" />
}
else
{
	<AdminNavigationBarComponent IsSuperAdmin="isSuperAdmin"></AdminNavigationBarComponent>
	<h1 class="text-center mt-15 mb-20">Admins</h1>
	<div class="mb-10">
		<AdminsTableComponent></AdminsTableComponent>
	</div>
}

