@page "/admin-login"
@using AuctionWebApp.Components
@using AuctionWebApp.ViewModels

<h1 class="admin-login__title">Login Admin</h1>

<LoginComponent 
    Model="AdminModel" 
    OnValidSubmit="HandleAdminLogin" />
