@page "/admin-login"
@using AuctionWebApp.Components
@using AuctionWebApp.ViewModels

<LoginComponent 
    Title="Login Admin"
    Model="AdminModel" 
    OnValidSubmit="HandleAdminLogin" />

@if (ShowPopup)
{
    <div class="popup-backdrop">
        <div class="popup">
            <h3>Login Failed</h3>
            <ul>
                @foreach (var e in ErrorMessages)
                {
                    <li>@e</li>
                }
            </ul>
            <button class="popup-close" @onclick="ClosePopup">Close</button>
        </div>
    </div>
}