@page "/admin-login"
@using AuctionWebApp.Components
@using AuctionWebApp.ViewModels

<div class="login-wrapper">
    <LoginComponent Title="Login Admin"
                    Model="AdminModel"
                    OnValidSubmit="HandleAdminLogin" />
</div>