@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using AuctionWebApp.Components

@page "/driver-dashboard"
@attribute [Authorize(Roles = "Driver")]

<MudTabs Class="full-screen-tabs"
		 Style="width:100vw; height:100vh; margin:0; padding:0;"
		 Centered="true"
		 Elevation="0"
		 Rounded="false"
		 Bordered="false"
		 ApplyEffectsToContainer="false"
		 PanelClass="pa-6"
		 Color="Color.Primary">
	<MudTabPanel Text="Home">
		<h1 class="text-center mt-10 mb-20">Welcome to driver dashboard</h1>
		<div class="d-flex justify-content-center mt-4">
			<LogoutComponent />
		</div>
	</MudTabPanel>	
	<MudTabPanel Text="Assigned Auctions">
		<h1 class="text-center mt-10 mb-20">Assigned Auctions</h1>
		<AuctionsTableComponent Filter="auctionsFilter" NavigateUrl="@navigateUrl" NavigationButtonName="@navigationButtonName"></AuctionsTableComponent>
	</MudTabPanel>
</MudTabs>