@page "/"

@if (isLoading)
{
	<MudProgressCircular Color="Color.Primary"
						 Indeterminate="true"
						 Class="d-flex mx-auto mt-12" />
}
else
{
	<a href="/admin/login">Admin Login</a>
	<br />
	<a href="/driver/login">Driver Login</a>
	<br />
	<a href="/user/login">User Login</a>
}
