@page "/"

<a href="/admin-dashboard">Admin Dashboard</a>
<br />
<a href="/driver-dashboard">Driver Dashboard</a>
<br />
<br />
<br />
<a href="/admin-login">Admin Login</a>
<br />
<a href="/driver-login">Driver Login</a>