@page "/"

<a href="/admin/home">Admin Dashboard</a>
<br />
<a href="/driver-dashboard">Driver Dashboard</a>
<br />
<a href="/user-dashboard">User Dashboard</a>
<br />
<br />
<br />
<a href="/admin-login">Admin Login</a>
<br />
<a href="/driver-login">Driver Login</a>
<br />
<a href="/user-login">User Login</a>