@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using AuctionWebApp.Components

@page "/user-dashboard"
@attribute [Authorize(Roles = "User")]

<MudTabs Class="full-screen-tabs"
		 Style="width:100vw; height:100vh; margin:0; padding:0;"
		 Centered="true"
		 Elevation="0"
		 Rounded="false"
		 Bordered="false"
		 ApplyEffectsToContainer="false"
		 PanelClass="pa-6"
		 Color="Color.Primary">
	<MudTabPanel Text="Home">
		<h1 class="text-center mt-10 mb-20">Welcome to user dashboard</h1>
		<div class="d-flex justify-content-center mt-4">
			<LogoutComponent />
		</div>
	</MudTabPanel>
	<MudTabPanel Text="Auction Store">
		<h1 class="text-center mt-10 mb-20">Auction Store</h1>
	</MudTabPanel>
	<MudTabPanel Text="My sell auctions">
		<h1 class="text-center mt-10 mb-20">My sell auctions</h1>
	</MudTabPanel>
	<MudTabPanel Text="My bid auctions">
		<h1 class="text-center mt-10 mb-20">My bid auctions</h1>
	</MudTabPanel>
</MudTabs>